# Auto detect text files and perform LF normalization
* text=auto
# i will write down to my Kali Linux notes

||| setxkbmap tr ||| = because of i use Türkish Keyboard i will change my kb to tr

||| pwd ||| = print working directory - this command writes to directory which you are in

||| ls ||| = list directory contents - this command lists the everything which that are in your current directory

||| ifconfig ||| it shows your ip adress